@import url('src/jquery.lcars.bootstrap.css');

/* TODO */
.ipsTabPane > .navigation > .sub {
    display: none;
}
.scrollLeft, .scrollRight {
    display: none;
}
/* known issue: .ipsTabPane > .navigation > .scroll > .buttons > div > .title: no word wrap in Chrome* /

/* DONE */
[class^="ipsIcon"], [class*=" ipsIcon"] {
    font-size: 24px;
}
.ipsWebFront {
    top: 26px;
    height:95%;
}
.ipsCategory>.container .content .title, .ipsCategory > .container .content .visual {
    font-size: 22px;
}

.ipsWebFront:before, .ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: -26px 6px -3px 0;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    margin-top: 0;
    background: url("src/Line2.png") no-repeat;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .navigation:before {
    background-image: none;
    background-color: transparent;
    height: 0;
}
.ipsWebFront:after {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: 0 6px 0 0;
    background-color: #FF9900;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
}

.ipsTabPane > .navigation {
    height: 96%;
    background-image: none;
    background-color: #000000;
    border-bottom: 0;
}
.ipsTabPane > .navigation > .scroll {
    height: 100%;
    padding: 0 0;
}
.ipsTabPane > .content {
    left: 91px;
    background-image: none;
}
/* CONTENT */
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .content {
    top: 0;
    /* left: 0;*/
    float: left;
}
/* Dritte Ebene */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content {
    /* left: 0;*/
    /* left: 95px; */
    /* left: 50px;*/
    /* left: 111px;*/
    left: 0px;
    top: 19px;
    float: left;
}

/* Zweite Ebene: Untermenüpunkt, z.B. Räume > Garten */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content {
    left: 0px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .content .ipsSplitPane {
    /* left: 90px; */
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer {
    position: relative;
    height: 90%;
    /* margin-left: 45px; */
}
html.js body .ipsWebFront .ipsContainer .content {
    top: 40px;
    /*left: 105px;*/
}
/* Dritte Ebene */
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsCategory .content {
    left: 90px;
}
/* BUTTONS, TITLE, ICONS */
.ipsTabPane > .navigation > .scroll > .buttons {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 87px;
    height: 100%;
}
.ipsTabPane > .navigation > .scroll > .buttons > div {
    border-bottom: 2px solid #000000;
    display: block;
    border-left: 0;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    height: 85px;
    background-color: #FF9900;
    color: #000000;
    font-family: lcars_font;
    font-size: 20px;
    text-decoration: none;
    opacity: 1;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .ipsContainer > .navigation > .buttons {
    height: 30px;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .title {
    float: right;
    text-transform: uppercase;
    display: block;
    width: 75px;
    margin: 0 5px;
    height: 50px;

    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.ipsTabPane > .navigation > .scroll > .buttons > .active {
    border-color: #000000;
    background-color: #DD6644;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .icon {
    float: right;
}
.ipsTabPane > .navigation > .scroll > .buttons.subHidden > div:first-child {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}
.ipsTabPane > .navigation > .scroll > .buttons > div:last-child {
     height: 100%;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer {
    height: auto;
}
.ipsTabPane > .navigation > .widgets > div > .title {
    font-family: lcars_font;
}