@import url('src/jquery.lcars.bootstrap.css');

/* --------------------------------------------
 *  TO DO (OR NOT TO DO)
 * --------------------------------------------
 */
.ipsTabPane > .navigation > .sub {
    display: none;
}
.scrollLeft, .scrollRight {
    display: none;
}
/* known issue: .ipsTabPane > .navigation > .scroll > .buttons > div > .title: no word wrap in Chrome */

/* SCROLLBARS */
/*
.ipsContainer .content {
    scrollbar-base-color: #FF9900‏;
    scrollbar-track-color: #000000;
    scrollbar-face-color: #FF9900‏;
    scrollbar-highlight-color: #FF9900‏;
    scrollbar-3d-light-color: #000000;
    scrollbar-darkshadow-color: #FF9900‏;
    scrollbar-shadow-color: #FF9900‏;
    scrollbar-arrow-color: #000000;
}
::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button {  background-color: #FF9900‏; }
::-webkit-scrollbar-track {  background-color: #FF9900‏;}
::-webkit-scrollbar-track-piece { background-color: #000000;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #FF9900‏; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #000000;}}
::-webkit-resizer { background-color: #FF9900‏;}
*/

/* --------------------------------------------
 *  DONE
 * --------------------------------------------
 */
[class^="ipsIcon"], [class*=" ipsIcon"] {
    font-size: 24px;
}
.ipsWebFront {
    top: 26px;
    height:95%;
}
.ipsCategory > .container {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers {
    border: 0 none;
    background: none transparent;
}
.ipsCategory > .container .childContainers > div {
    border: 0 none;
}
.ipsSplitPane.border > .top, .ipsSplitPane.border > .left, .ipsSplitPane.border > .bottom, .ipsSplitPane.border > .right {
    border: 0 none;
}
.ipsCategory>.container .content .title, .ipsCategory > .container .content .visual {
    font-size: 22px;
}

.ipsWebFront:before, .ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: -26px 6px -3px 0;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .navigation:before {
    margin-top: 0;
    background: url("src/Line2.png") no-repeat;
    background-color: #FF9900;
    background-position: 0 -31px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .navigation:before {
    background-image: none;
    background-color: transparent;
    height: 0;
}
.ipsWebFront:after {
    content: "";
    display: block;
    background: url("src/Line.png") no-repeat;
    width: 100%;
    height: 26px;
    margin: 0 6px 0 0;
    background-color: #FF9900;
    background-position: 0 0;
    position: absolute;
    bottom: 0;
}

.ipsTabPane > .navigation {
    height: 96%;
    background-image: none;
    background-color: #000000;
    border-bottom: 0;
    float: left;
}
.ipsWebFront div.ipsContainer div.content div.ipsContainer div.content div.ipsContainer div.ipsContainer div.navigation {
    width: 100px;
    float: left;
}
.ipsTabPane > .navigation > .scroll {
    height: 100%;
    padding: 0 0;
    overflow: visible;
}
.ipsWebFront > .ipsTabPane > .navigation > .scroll {
    overflow: hidden;
}
.ipsTabPane > .content {
    left: 115px; /* 91 */
    background-image: none;
}
/* --------------------------------------------
 *  CONTENT
 * --------------------------------------------
 */
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .content {
    top: 0;
    /* left: 0;*/
    float: left;
}

.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content {
    left: 100px;
}
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content.exclusive {
    left: 0;
}
.ipsWebFront > .ipsContainer > .content > .ipsContainer > .content > .ipsContainer > .ipsContainer > .content > .ipsContainer > .ipsContainer > .exclusive {
    /*left: 100px;*/
}
/* Dritte Ebene */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content {
    left: 0px;
    top: 19px;
    float: left;
}
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content {
    left: 100px;
}
.ipsWebFront > .ipsContainer > .content > .ipsCategory > .ipsTabPane > .content.exclusive {
    left: 0;
}

/* Zweite Ebene: Untermenüpunkt, z.B. Räume > Garten */
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content {
    left: 0px;
    width: 100%;
}
.ipsWebFront .ipsContainer .content .ipsContainer .content .ipsContainer .ipsContainer .content .ipsSplitPane {
    /* left: 90px; */
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer {
    position: relative;
    height: 90%;
}
html.js body .ipsWebFront .ipsContainer .content {
    top: 40px;
    /*left: 105px;*/
}
.ipsWebFront .ipsContainer .content .ipsContainer .content {
    top: 19px;
    left: 116px;
}
/* --------------------------------------------
 *  BUTTONS, TITLE, ICOKNS
 * --------------------------------------------
 */
.ipsTabPane > .navigation > .scroll > .buttons {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #000000;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 87px;
    height: 100%;
}
.ipsTabPane > .navigation > .scroll > .buttons > div {
    border-bottom: 2px solid #000000;
    display: block;
    border-left: 0;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
    height: 85px;
    background-color: #FF9900;
    color: #000000;
    font-family: lcars_font;
    font-size: 20px;
    text-decoration: none;
    opacity: 1;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .ipsContainer > .navigation > .buttons {
    height: 30px;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .title {
    float: right;
    text-transform: uppercase;
    display: block;
    width: 75px;
    margin: 0 5px;
    height: 50px;

    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for webkit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.ipsTabPane > .navigation > .scroll > .buttons > div.active {
    border-color: #000000;
    background-color: #DD6644;
    border-bottom: 2px solid;
}
.ipsTabPane > .navigation > .scroll > .buttons > div > .icon {
    float: right;
}
.ipsTabPane > .navigation > .scroll > .buttons.subHidden > div:first-child {
    border-bottom: 2px solid #000000;
    border-top: 2px solid #000000;
}
.ipsTabPane > .navigation > .scroll > .buttons > div:last-child {
     height: 100%;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer {
    height: auto;
}
.ipsTabPane > .navigation > .widgets > div > .title {
    font-family: lcars_font;
}

/* --------------------------------------------
 *  BUTTONS
 * --------------------------------------------
 */

/* IP-Symcon override */
.ipsCategory > .container .content .visual > .text {
    line-height: normal;
}
.td {
    display: block !important;
    float: left;
}
/* custom */
.ipsCategory > .container .content .title {
    border-left: 4px solid #000000;
    line-height: 41px;
}
.tr div {
    height: 40px;
    margin-top: -10px;
}
.tr div.icon {
    margin-top: -6px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .tr {
    background-color: #FF9900;
    border: medium none;
    color: #000000;
    display: block;
    font-size: 18px;
    height: 20px;
    margin: 5px;
    overflow: hidden;
    text-align: right;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    width: 98%;
}
.ipsCategory > .container .content .visual, .ipsCategory > .container .content .link {
    height: 20px;
    width: auto; /* für überlange button-reihen, 120px,  min-width für An/Aus: 85px */
    float: right;
    margin-top: 0;
}
.ipsCategory > .container .content .link {
    background-color: #FF9900;
    float: right;
    width: 40px;
}
.ipsCategory > .container .content .link > .ipsIconGraph {
    font-size: 32px;
    height: 40px;
    margin-right: 5px;
    margin-top: -10px;
    padding: 2px;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000;
}
.ipsCategory > .container .throbber {
    width: 28px;
}
.ipsWebFront .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer .ipsContainer .content .ipsContainer.text {
    height: 40px;
}
.ipsCategory > .container .content .visual > .text {
    background: none repeat scroll 0 0 #000000;
    color: #FF9900;
    display: block;
    float: left;
    height: 40px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: -10px;
    padding: 2px;
    font-size: 30px;
}

/* --------------------------------------------
 *  An/Aus Schalter
 * --------------------------------------------
 */
.ipsCategory > .container .content .visual > .enum {
    width: 100%;
    height: 100%;
}
.ipsCategory > .container .content .visual > .enum > div {
    height: 40px;
    margin-top: -10px;
    font-size: 32px;
}
.ipsCategory > .container .content .visual > .enum > div:first-child {
    border-right: 4px solid #000000;
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div,
.ipsCategory > .container .content .visual > .text.colored {
    line-height: 40px;
}
.ipsCategory > .container .content .visual > .enum > div,
.ipsCategory > .container .content .visual > .selector > div,
.ipsCategory > .container .extended > .textBox > div {
    background-image: none;
}
.ipsCategory > .container .content .visual > .text.colored {
    background-image: none;
}
/* --------------------------------------------
 *  Wetterseite
 * --------------------------------------------
 */
.ipsDWDReport .title {
    font-family: lcars_font;
    font-size: 32px;
}
.ipsDWDReport .text {
    font-size: 24px;
}
.ipsDWDReport .updated {
    font-size: 20px;
}